mixin Header(isIndex=false)
    header.header
        .header__logo
            a(href="/")
                include logo
        if !isIndex
            .header__navigation
                each val, key in data.navigation.links
                    +UnderlineLink(val, key, "small", "left")
        .header__links
            a.header__link.left-link(href="")
                svg(width="13"
                    height="11"
                    viewBox="0 0 13 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg")
                    path(d="M1.5 1.5L6.5 5.5L11.5 1.5M2.1 1C1.49249 1 1 1.50368 1 2.125L1 8.875C1 9.49632 1.49249 10 2.1 10L10.9 10C11.5075 10 12 9.49632 12 8.875L12 2.125C12 1.50368 11.5075 1 10.9 1L2.1 1Z"
                        stroke="#CA3132")
                span Написать

            a.header__link.right-link(href="tel:+7 812 305 06 06")
                svg(width="11"
                    height="14"
                    viewBox="0 0 11 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg")
                    path(d="M6.44978 9.35045L6.69718 9.49729L6.94846 9.3572L8.28348 8.61293C8.38179 8.55812 8.49845 8.59691 8.54484 8.67442C8.54485 8.67444 8.54486 8.67446 8.54487 8.67447L10.4789 11.91L10.4789 11.9101C10.5188 11.9768 10.503 12.0693 10.4143 12.1187L8.14297 13.385C7.93798 13.4992 7.70352 13.5291 7.47992 13.4713L7.35467 13.9553L7.47991 13.4713L7.47068 13.4689L7.46547 13.4675C6.56423 13.218 3.52528 12.1785 1.74289 9.19743C-0.0391374 6.217 0.551267 3.16152 0.775891 2.29615C0.829106 2.09247 0.972299 1.90563 1.17654 1.79177L3.44791 0.525485C3.54624 0.470664 3.66293 0.509478 3.7093 0.587026L5.64353 3.82201C5.68344 3.88876 5.6676 3.98117 5.57895 4.03059L4.24393 4.77486L3.97895 4.92259L3.9876 5.22584C4.00244 5.74557 4.08829 6.82389 4.58162 7.64899C5.07355 8.47174 5.99367 9.07971 6.44978 9.35045Z"
                        stroke="#CA3132")
                span +7 812 305 06 06

